<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dediggefedde.questden_blick_reader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_questden"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_questden"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SyncCompareActivity"
            android:label="@string/title_activity_syncCompare"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SyncActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SyncActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>